/* General Styles for the Game */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Light grey background */
}

.container1 {
  position: absolute; /* Absolute positioning to move it to the left */
  top: 20px; /* Margin from the top */
  left: 20px; /* Margin from the left */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logout-btn, .back-btn, button {
  border-radius: 20px;
  border: 1px solid #760abe;
  background-color:#760abe;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  margin-left: 90px;
  color: white;
}

.button:hover {
  background-color: #6145c6; /* Darker blue on hover */
}

.container {
  text-align: center;
  margin-top: 50px;
}

/* Table and Text Styling */
#wordleTableNode, #guessInput {
  width: 100%;
  text-align: center;
}

#wordleTable {
  margin: auto;
  border-collapse: collapse;
}

#wordleTable td {
  font-size: 25px;
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
}

#guessWord {
  width: 60%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

#guessedPreviously {
  color: red;
  font-weight: bold;
}

#gamePoints, #gameGuesses {
  color: #333;
  margin-top: 10px;
}

/* Game Styling */

.header-content {
  text-align: center;
  flex-grow: 1; /* Takes available space, pushes logout button to end */
  font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif; /* Font for header */
  color: #24c0a1; /* Color for header*/
  font-weight: bold;
}

.header-body, h3, h4, label, caption {
  text-align: center;
  flex-grow: 1; /* Takes available space, pushes logout button to end */
  font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif; /* Font for header */
  color: #000000; /* Color for header/*/
}

/* New header style for mac compatibility*/
.headerstyle {
  font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif;
  color: #24c0a1;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  list-style: none;
}

#themeWord, #currentUserTitle, label {
  color: slateblue;
}

#overGame {
  color: red;
}

#wonGame {
  color: green;
}

.guessTag, .correctTag, .misplacedTag, .incorrectTag, #overGame,
  #wonGame, label, h1, h3, h4 {
  text-align: center;
}

.correctTag, .misplacedTag, .incorrectTag {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.correctTag {
  background-color: lightgreen;
}

.misplacedTag {
  background-color: yellow;
}

.incorrectTag {
  background-color: lightgray;
}

.guessTag {
  background-color: white;
  width: 60px;
  margin: auto;
}

/* center guess table */
#guessTableNode table, button {
  margin-left: auto;
  margin-right: auto;
}

