body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 35vh;
    background-color: #f4f4f9;
}
.header-container {
    position: relative;
    width: 100%;
    flex: 1;
}
.container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10px;
    left: 10px;
}
.logout-btn, .back-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    margin-bottom: 10px;
}
.back-btn {
    background-color: #000;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.welcome-text, .username {
    margin: 5px 0;
}
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}
.search-bar {
    display: flex;
    gap: 10px;
    align-items: center;
}
input[type="radio"] {
    margin: 0 5px;
}
input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.search-filter-label {
    margin-left: 30px;
}
.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}
.theme-row {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}
.hidden {
    display: none;
    width: 100%;
}

.errors li {
    color: red;
    font-size: 0.8em;
}
