body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.header-container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/* Menu button styling */
.menu-button {
    padding: 8px 16px;
    background-color: #636363; /* Black color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Absolute position on page */
    top: 60px; /* Distance from top of viewport */
    left: 10px; /* Distance from right of viewport */
    display: flex; /* Align SVG and text horizontally */
    align-items: center; /* Align SVG and text vertically */
    overflow: hidden; /* So the menu button animation doesn't go outside button */
    transition: padding 0.8s ease; /* Smooth transition for padding changes */
}
.menu-button:hover, .menu-button:focus, .menu-button:active {
    background-color: #151515 !important; /* Darker shade on hover for user feedback */
    box-shadow: 0 0 8px #0000004d !important; /* Shadow on hover */
}
 
/*Menu button animation */
.menu-button svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    margin-right: 10px; /* Space between the icon and the text */
    transition: transform 0.5s ease-out; /* Smooth transition for transformation */
}
/* Animation keyframes for fading effect */
@keyframes wipeEffect {
    from {
        transform: translateX(100%); /* Start from fully right */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* End at normal position */
        opacity: 1;
    }
}
.menu-button:hover svg {
    animation: wipeEffect 1.5s forwards infinite; /* Loop animation while hovered*/
}

/* Logout button styling */
.logout-button {
    padding: 8px 16px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* Absolute position on page */
    top: 10px; /* Distance from top of viewport */
    left: 10px; /* Distance from left of viewport */
    display: flex; /* Align SVG and text horizontally */
    align-items: center; /* Align SVG and text vertically */
    transition: all 0.3s ease; /* Transition for smooth effects */
}

.user-info, .header-body {
    text-align: center;
    margin-top: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-filter-label {
    font-size: 1.2em; /* Larger font size for visibility */
    margin-right: 10px;
    text-align: center;
    display: block;
}

input[type="text"], select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 50%;
}

.form-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.form-button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
    transform: scale(1.05); /* Slightly increase size */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Soft shadow for depth */
}


.search-results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.theme-row {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

/* Styling for radio buttons to remove default style and position them better */
.radio-button {
    background: none;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.radio-button:checked {
    background-color: #007bff; /* Blue background for selected */
}

.radio-label {
    margin: 0 10px;
    cursor: pointer;
}
