body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.header-container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.logout-btn, .menu-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.user-info, .header-body {
    text-align: center;
    margin-top: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-filter-label {
    font-size: 1.2em; /* Larger font size for visibility */
    margin-right: 10px;
    text-align: center;
    display: block;
}

input[type="text"], select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 50%;
}

.form-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.theme-row {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

/* Styling for radio buttons to remove default style and position them better */
.radio-button {
    background: none;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.radio-button:checked {
    background-color: #007bff; /* Blue background for selected */
}

.radio-label {
    margin: 0 10px;
    cursor: pointer;
}
