<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>High Scores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="leaderboard.css">
</head>
<body>
    <div class="main-container">
        <div class="container1">
            <button class="logout-btn" onclick="location.href='{{ url_for('logout') }}'">Logout</button>
            <button class="back-btn" onclick="history.back()">Back</button>
        </div>
        <header>
            <div class="header-content">
                <h1><b>SUPER WORDLE</b></h1>
            </div>
            <div class ="header-body">
                <h4>Welcome to the word guessing game</h4>
            </div>
            <!-- Wordle Grid -->
            <div class="wordle-animation">
                <div id="wordle-grid" class="d-grid gap-2 justify-content-center">
                    <!-- JavaScript will generate Wordle grid here -->
                </div>
            </div>


            <!-- Logout button -->
            <button id="logout-button" class="logout-button btn btn-primary" title="Log me out">
                <span id="icon-container">
                    <!-- Door closed SVG-->
                    <svg id="doorClosed-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                        <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                    </svg>
                </span>
                Logout
            </button>

            <!-- Back button-->
            <button class="back-button btn btn-primary" title="Go back" onclick="goBack()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>
                Back
            </button>
            
            

        </header>
        <div class="user-info">
            <p>User: <a href="profile.html" id="username" title="View my profile">Username</a></p>
        </div>

        <!-- High Scores table -->
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col" title="The position on the leaderboard (desc order)">Rank</th>
                        <th scope="col" title="Player's username">User</th>
                        <th scope="col" title="Total points">Points</th>
                        <th scope="col" title="Percentage of games won">Win Rate</th>
                        <th scope="col" title="Total number of games played">Games Played</th>
                    </tr>
                </thead>
                <tbody id="leaderboardData">
                    <!-- Need to insert data here using JavaScript? -->
                </tbody>
            </table>
        </div>
        

        <!-- Info Button Trigger for Modal -->
        <div class="info-icon">
    <button class="info-button" title="Information" data-bs-toggle="modal" data-bs-target="#infoModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
        </svg>
    </button>
        </div>
        
        <!-- Info Button Modal Structure -->
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
            <div class="modal-dialog custom-modal-size">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="infoModalLabel">Information</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-subheading">
                       <b> <u>Placeholder Title</u> </b>
                    </div>
                    <div class="modal-body">
                        <b>Placeholder body/b> - Placeholder text.<br>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    </div>
                </div>
            </div>
        </div>


        
    </div>
    <!-- Include Bootstrap JS with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="leaderboard.js"></script>
</body>
</html>