<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Wordle Game</title>
    <link rel="stylesheet" href="../static/search.css">
</head>
<body>
    <div class="header-container">
        <div class="container1">
            <button class="logout-btn">Logout</button>
            <button class="back-btn">Back</button>
        </div>
        <div class="container2">
            <h1>Super Wordle Game</h1>
            <br>
            <div class="welcome-text">Welcome to the word guessing game!</div>
            <div class="username">Player: {{ username }}</div>
        </div>
    </div>
    <div class="search-container">
        <h2>Search Themes</h2>
        <form action="{{ url_for('search') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="search-bar">
                {{ form.search_option }}
                <span class="search-filter-label">Search filter:</span>
                {{ form.search_query(size=32) }}
                {{ form.submit() }}
            </div>
        </form>
    </div>
    <div class="search-results">
        {% if search_results %}
            {% for theme in search_results %}
            <div class="theme-row">
                <!-- Clickable theme and creator sending parameters to /game -->
                <a href="{{ url_for('game', creator=theme.person.username, theme=theme.theme) }}">
                    <strong>{{ theme.theme }}</strong> - <em>{{ theme.person.username }}</em>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>    
</body>
</html>
