<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Wordle Game - Search Themes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/menu.css">
    <link rel="stylesheet" href="../static/search.css">
</head>
<body>
    <div class="main-container">
        <header>
            <div class="header-content">
                <!-- Wordle Grid -->
                <div class="wordle-animation">
                    <div id="wordle-grid" class="d-grid gap-2 justify-content-center">
                    <!-- JavaScript will generate Wordle grid here -->
                    </div>
                </div>
            </div>
            <div class="header-body">
                <h4>Welcome to the word guessing game</h4>
            </div>
            <!-- Logout button -->
            <button id="logout-button" class="logout-button btn btn-primary" onclick="location.href='{{ url_for('logout') }}'" title="Log me out">
                <span id="icon-container">
                    <!-- Door closed SVG-->
                    <svg id="doorClosed-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                        <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                    </svg>
                </span>
                Logout
            </button>
            <!-- Menu button-->
            <button class="menu-button btn btn-primary" title="Go back to Menu" onclick="location.href='{{ url_for('menu') }}'"">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>
                Menu
            </button>
        </header>
        <div class="user-info">
            <p>User Profile: <a href="#" id="username" onclick="location.href='{{ url_for('profile') }}'">Username</a></p>
        </div>
        <div class="search-container">
            <h2>Search Themes</h2><br>
            <form class="theme-form" action="{{ url_for('search') }}" method="post">
                {{ form.hidden_tag() }}
                <label for="searchOption" class="search-filter-label">Search Filter</label>
                <div class="form-row">
                    {{ form.search_option() }}
                    <input type="text" id="search_query" name="search_query" size="32">
                    <button type="submit" class="form-button">Search</button>
                </div><br>
                <label for="searchOption" class="search-filter-label">Theme Name | Creator</label>
                <div class="errors" style="display: none;">
                    {% for error in form.search_query.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            </form>
            <div class="search-results">
                {% if search_results %}
                    {% for theme in search_results %}
                        <div class="theme-row">
                            <a href="{{ url_for('game', creator=theme.person.username, theme=theme.theme) }}">
                                <strong>{{ theme.theme }}</strong> - <em>{{ theme.person.username }}</em>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No results found.</p>
                {% endif %}
            </div>    
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/search.js"></script>
</body>
</html>
