{% extends "base.html" %}

{% block title %}Sign Up Page{% endblock %}

{% block content %}
<div class="title_position">
    <h3 class="headerstyle header-body" style="justify-content: center; font-size: 40px;">Please Sign Up</h3>
</div>

<div class="signPos">
    <form action="/signup" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> <!-- manually insert CSRF token if not using WTForm/Jinja -->
        <div class="form-group" style="margin-bottom: 30px;">
            <label for="emailSignUp" class="col-sm-2" style="z-index: 5; white-space: nowrap">
                <span class="small bg-white text-muted pt-1 pl-2 pr-2">Email:</span>
            </label>
            <input type="text" class="form-control mt-n3 inputstyle" id="email" name="user_email" required>
            <span id="emailWarning" style="color: red;"></span>
        </div>

        <div class="form-group" style="margin-bottom: 30px;">
            <label for="passwordSignUp" style="z-index: 5; white-space: nowrap">
                <span class="small bg-white pt-1 pl-2 pr-2">Password:</span>
            </label>
            <input type="password" class="form-control mt-n3 inputstyle" id="password" name="user_pw" required>
        </div>

        <div class="form-group" style="margin-bottom: 30px;">
            <label for="confirmPasswordSignUp" style="z-index: 5; white-space: nowrap">
                <span class="small bg-white pt-1 pl-2 pr-2">Confirm Password:</span>
            </label>
            <input type="password" class="form-control mt-n3 inputstyle" id="confirmPassword" name="user_confirm_pw" required>
            <span id="matchMessage"></span>
        </div>

        <div class="form-group" style="margin-bottom: 30px;">
            <label for="userName" style="z-index: 5; white-space: nowrap">
                <span class="small bg-white pt-1 pl-2 pr-2">User Name:</span>
            </label>
            <input type="text" id="username" class="form-control mt-n3 inputstyle" name="username" required>
            <span id="usernameWarning" style="color: red;"></span>
        </div>
        <button type="submit" style="margin-top: 40px;">SIGN UP</button>
    </form>
</div>

<!-- Pass CSRF token to JavaScript -->
<script>
    const csrfToken = '{{ csrf_token() }}';
</script>
<script src="{{ url_for('static', filename='signup.js') }}"></script>
{% endblock %}
